

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    }
    
    body{
    background-color: #000000;
    }
    
    header {
    background-color: #32fb00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    }
    
    h1 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    font-family: 'Tilt Neon', cursive;
    }
    
    .paragrafo{
    color: #ffffff;
    font-size: 18px;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 30px;
    }
    
    .colorText{
    color: #00ff00;
    }
    
    .video-yt {
    width: 100%;
    height: 360px;
    }
    
    .copytigth{
    color: #fbfbfb;
    text-align: center;
    font-size: 12px;
    padding-top: 100px;
    }
    
    .whatsapp-container {
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    }
    
    .whatsapp-link {
    width: 40px;
    height: 40px;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 4px #888888;
    }
    
    .fa-whatsapp {
    margin-top: 12px;
    margin-right: 0px;
    }
    
    .whatsapp-text {
    font-weight: bold;
    margin-left: 10px;
    color: #ffffff;
    font-size: 12px;
    }

    .comprar{
 
        width: 100%;
        margin-top: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 30px;
        
    }

    .comprar a{
        text-decoration: none;
        background-color: #00ff00;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        color: #000000;
        font-weight: bold;
        }

        .link1{
            margin-top: 30px;
        }

        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .button {
            min-width: 300px;
            min-height: 60px;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: rgb(0, 254, 34);
            background: linear-gradient(90deg, rgb(0, 254, 34) 0%, rgb(0, 254, 34) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 12px 12px 24px rgba(0, 255, 47, 0.64);
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            }
          
          a::before {
              content: '';
            border-radius: 1000px;    
            min-width: calc(300px + 12px);
            min-height: calc(60px + 12px);
            border: 6px solid #00ff04;
            box-shadow: 0 0 60px #00ff04;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s ease-in-out 0s;
          }
          
          .button:hover, .button:focus {
            color: #313133;
            transform: translateY(-6px);
          }
          
          a:hover::before, a:focus::before {
            opacity: 1;
          }
          
          a::after {
            content: '';
            width: 30px; height: 30px;
            border-radius: 100%;
            border: 6px solid #00ff04;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
          }
          
          a:hover::after, a:focus::after {
            animation: none;
            display: none;
          }
          
          @keyframes ring {
              0% {
                width: 30px;
                height: 30px;
                opacity: 1;
              }
              100% {
                width: 300px;
                height: 300px;
                opacity: 0;
              }
            }

@media screen and (min-width:768px) and (max-width:1022px){

    header {
        background-color: rgb(50, 251, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 100%;
    }


    h1 {
        font-size: 26px;
        text-align: center;
        margin: 0; 
        color: rgb(0, 0, 0);
        font-family: 'Tilt Neon', cursive;
    }
    
    .paragrafo{
        color: white;
        font-size: 34px;
        padding-top: 40px;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .colorText{
        color: rgb(0, 255, 0);
    }
    
    .cor-fundo{
        text-align: center;
        width: 50%; /* altere o valor conforme necessário */
        margin-left: 20%;
        margin-bottom: 10%;
        margin-top: 1px;
        height: 350px;
        }
        
        .cor-fundo video{
            object-fit: unset;
            text-align: center;
            width: 500px;
            max-height: 450px;
        }
        
        video {
            text-align: center;
        }

    .copytigth{
        color: rgb(251, 251, 251);
        text-align: center;
        font-size: 12px;
        padding-top: 100px;
    }
    .whatsapp-container {
        display: flex;    
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        }
        
        .whatsapp-link {
        width: 40px;
        height: 40px;
        background-color: #25d366;
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        font-size: 18px;
        box-shadow: 2px 2px 4px #888888;
        }
        
        .fa-whatsapp {
        margin-top: 12px;
        margin-right: 0px;
        }
        
        .whatsapp-text {
        font-weight: bold;
        margin-left: 10px;
        color: #ffffff;
        font-size: 18px;
        }
        button{
            background: #1eff00;
            color: rgb(5, 5, 5);
            border-style: outset;
            border-color: #0e810c;
            height: 60px;
            width: 160px;
            font: bold15px arial,sans-serif;
            font-size: 18px;
            text-shadow: none;
            margin-top: 10px;
            cursor: pointer;
            }
    
        .comprar-link{
            text-decoration: none;
            font-size: 24px;
            color: #ffffff;
        }
    

}

@media screen and (min-width:1023px){

        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-family: roboto, sans-serif;
        }
        
        header {
            background-color: rgb(32, 255, 2);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100%;
        }
        
        h1 {
            font-size: 26px;
            text-align: center;
            margin: 0; 
            color: rgb(0, 0, 0);
            font-family: 'Tilt Neon', cursive;
        }
        
        .paragrafo {
            color: white;
            font-size: 22px;
            padding-top: 40px;
            text-align: center;
            padding-bottom: 30px;
        }
        
        .colorText {
            color: rgb(0, 255, 0);
        }
        
        .video-yt{
            width: 50%;
            margin-left: 380px;
        }

        
        .copytigth {
            color: rgb(251, 251, 251);
            text-align: center;
            font-size: 10px;
            padding-top: 100px;
            margin-bottom: 10px;
        }
        


        .whatsapp-container {
            display: flex;
            align-items: center;
            position: fixed;
            bottom: 40px;
            right: 40px;
            z-index: 1000;
            flex-direction: row-reverse;
        }
        
        .whatsapp-link {
            width: 60px;
            height: 60px;
            background-color: #25d366;
            color: #ffffff;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 1px 1px 2px #888;
        }
        
        .fa-whatsapp {
            margin-top: 16px;
        }
        
        .whatsapp-text {
            font-size: 12px;
            font-weight: bold;
            margin-right: 10px; /* mudamos a margem para a direita */
            color: #ffffff;
            font-size: 15px;
        }

        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .button {
            min-width: 300px;
            min-height: 60px;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: rgb(0, 254, 34);
            background: linear-gradient(90deg, rgb(0, 254, 34) 0%, rgb(0, 254, 34) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 12px 12px 24px rgba(0, 255, 47, 0.64);
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            }
          
          a::before {
              content: '';
            border-radius: 1000px;    
            min-width: calc(300px + 12px);
            min-height: calc(60px + 12px);
            border: 6px solid #00ff04;
            box-shadow: 0 0 60px #00ff04;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s ease-in-out 0s;
          }
          
          .button:hover, .button:focus {
            color: #313133;
            transform: translateY(-6px);
          }
          
          a:hover::before, a:focus::before {
            opacity: 1;
          }
          
          a::after {
            content: '';
            width: 30px; height: 30px;
            border-radius: 100%;
            border: 6px solid #00ff04;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
          }
          
          a:hover::after, a:focus::after {
            animation: none;
            display: none;
          }
          
          @keyframes ring {
              0% {
                width: 30px;
                height: 30px;
                opacity: 1;
              }
              100% {
                width: 300px;
                height: 300px;
                opacity: 0;
              }
            }

}